@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    width:100%;
    position: relative;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(238, 234, 234);
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

.app:before {
    content: '';
    width: 100%;
    height:100%;
    position: absolute;
    background: url('../images/hero-background.avif') no-repeat center center/cover;
    z-index: -1;
    
    
}

.search {
    text-align:center;
    
}

.search input {
    border-radius: 2rem;
    height: 3rem;
    width: 20%;
    padding: 1rem 5rem;
    background-color: transparent;
    border: 2px solid white;
    font-size: 1.2rem;
    color: white;
    padding: 

}

.search input:focus{
    width: 30%;
    transition: width .2s ease-in;
}

::placeholder{
    color: rgb(238, 234, 234);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid;
}

@media screen and (max-width: 500px) {
    .search input:focus{
        width: 60%;
        transition: width .5s ease-in;
    }
}